<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diego Cáceres</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <h1>Diego Cáceres | Web Developer</h1>

  <h2>PORTFOLIO</h2>

  <!-- Botones de filtro -->
  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Todo </button>
    <button class="btn" onclick="filterSelection('voluntariado')"> Voluntariado </button>
    <button class="btn" onclick="filterSelection('trabajo')"> Trabajo </button>
    <button class="btn" onclick="filterSelection('contactos')"> Contactos</button>
  </div>

  <!-- Contenido Portfolio -->
  <div class="row">

    <!-- Sección de Voluntariado -->
    <div class="column voluntariado">
      <div class="content">
        <h4>Voluntariado</h4>
      </div>
    </div>
    <div class="column voluntariado">
      <div class="content">
        <img src="/static/images/SHOEING.jpg" alt="SHOE ING" style="width:100%">
        <h4>Shoe Ing</h4>
        <p>2015 - 2017</p>
      </div>
    </div>
    <div class="column voluntariado">
      <div class="content">
        <img src="/static/images/MARDESUEÑOS.png" alt="MAR DE SUEÑOS" style="width:100%">
        <h4>Mar de Sueños</h4>
        <p>2018 - Actualidad</p>
      </div>
    </div>
    <div class="column voluntariado">
      <div class="content">
        <img src="/static/images/AIESEC.png" alt="AIESEC EL SALVADOR" style="width:100%">
        <h4>AIESEC El Salvador</h4>
        <p>2018 - Actualidad</p>
      </div>
    </div>

    <!-- Sección de Experiencia Laboral -->
    <div class="column trabajo">
      <div class="content">
        <h4>Experiencia Laboral</h4>
      </div>
    </div>
    <div class="column trabajo">
      <div class="content">
        <img src="/static/images/GSTUDIO.jpg" alt="GSTUDIO" style="width:100%">
        <h4>Marketing Digital</h4>
        <p>2019</p>
      </div>
    </div>
    <div class="column trabajo">
      <div class="content">
        <img src="/static/images/CESSPRI.jpg" alt="CESSPRI" style="width:100%">
        <h4>Marketing Digital y Recursos Humanos</h4>
        <p>2019 - Actualidad</p>
      </div>
    </div>
    <div class="column trabajo">
      <div class="content">
        <img src="/static/images/SELMEX.png" alt="SELMEX" style="width:100%">
        <h4>Fundador</h4>
        <p>2020 - Actualidad</p>
      </div>
    </div>

    <!-- Sección de Contactos -->
    <div class="column contactos">
      <div class="content">
        <h4>Contactos</h4>
      </div>
    </div>
    <div class="column contactos">
      <div class="content">
        <img src="/static/images/CESSPRI.jpg" alt="Ronald Cáceres" style="width:100%">
        <h4>Ronald Cáceres</h4>
        <p>cesspri.rc@gmail.com</p>
      </div>
    </div>
    <div class="column contactos">
      <div class="content">
        <img src="/static/images/CHIVO.PNG" alt="Alexis Juarez" style="width:100%">
        <h4>Alexis Juarez</h4>
        <p>alexis.juarez@garabatos.com</p>
      </div>
    </div>
    <div class="column contactos">
      <div class="content">
        <img src="/static/images/Balbino.jfif" alt="Balbino" style="width:100%">
        <h4>Balbino</h4>
        <p>baylagas@esen.edusv</p>
      </div>
    </div>
    <!-- END GRID -->
  </div>

  <!-- Javascript -->
  <script src="/static/script.js"></script>
</body>

</html>